<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Forum_Training">
        <wb-resource deploy-path="/" source-path="/src/main/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <property name="context-root" value="Forum_Training"/>
        <property name="java-output-path" value="/Forum_Training/build/classes"/>
    </wb-module>
</project-modules>
